    <div class="padding">
      <p>
        BVA Auctions is een online veilinghuis dat in opdracht van derden roerende en onroerende zaken ter veiling brengt. Onze opdrachtgevers zijn onder andere banken, curatoren en leasemaatschappijen. Veelal zijn de goederen die wij aanbieden afkomstig uit
        faillissementen en/of beslagleggingen. Ook worden goederen geveild voor partijen die hun voorraden willen verkleinen. BVA Auctions fungeert hierbij als intermediair en koppelt de verkopende en kopende partij aan elkaar door middel van de online
        veiling. BVA Auctions is geen partij die goederen inkoopt en deze voor eigen risico ter veiling aanbiedt.
      </p>
    </div>