<div class="row">
        <div class='col-xs'>
        
         Van maandag t/m donderdag zijn wij telefonisch beschikbaar tussen 8:00 en 20:00 uur. Op vrijdag tussen 8:00 en 17:30 uur.</h6>
                <br/>
                <br/>Tel: <a href="tel:0031334600070">+31 (0)33 46 000 70</a>
                <br/> Fax: <a href="fax:0031334600079">+31 (0)33 46 000 79</a>
                <br/> Email: <a href="mailto:klantenservice@bva-auctions.com">info@bva-auctions.com</a>
                </p>
                <hr/>
        </div>
</div>

<div class='row margin-bottom'>
        <div class='col-xs-6'>
                <h4>Bezoekadres</h4> Kryptonweg 8
                <br/> 3812 RZ Amersfoort
                <br/>
                <br/> KvK 32118690
                <br/> BTW NL816010.456.B01
                <br/><a href="https://www.bva-auctions.com/"> www.bva-auctions.com</a>
        </div>
        <div class='col-xs-6'>
                <h4>Postadres</h4> BVA Auctions
                <br/> Postbus 1838
                <br/> 3800 BV Amersfoort
        </div>
</div>