  <div class="row fullwidth padding">
    <h2 class="margin-bottom">Privacy en Cookieverklaring</h2>
    <div class="col-xs-12">
    <h3>Persoonsgegevens</h3>

    <p>BVA Auctions B.V., kortweg BVA, heeft deze Privacy- en Cookieverklaring opgesteld om daarmee aan te geven
      dat BVA uw privacy zeer serieus neemt. BVA zal uw persoonsgegevens met zorg behandelen en maatregelen nemen
      om uw persoonsgegevens te beschermen. BVA zal uw (persoonlijke) gegevens gebruiken voor de volgende
      doeleinden:</p>
      <ul>
        <li>voor het uitvoeren van haar online veilingdienst (waaronder wordt verstaan: het faciliteren van online
          veilingen middels haar veilingwebsite, het vastleggen en afhandelen van een bod op zo’n veiling, het
          informeren van deelnemers aan een veiling over het verloop daarvan, het verstrekken van uw gegevens aan
          een verkoper en/of opdrachtgever bij een veiling en/of aan derden die bij de uitvoering van de
          veilingwerkzaamheden betrokken zijn, het verzorgen van de facturatie);
        </li>
        <li>voor de bezorging van geveilde goederen, zoals in het geval van de BVA bezorgservice c.q. voor het
          (kunnen) uitvoeren van afhaaldagen;
        </li>
        <li>voor het bewaren van door u geregistreerde (persoons)gegevens in een database om (toekomstige) deelname
          aan (een) veiling(en) voor u eenvoudiger te maken.;
        </li>
        <li>voor controledoeleinden en voor de beveiliging van de veilingwebsite;</li>
        <li>voor de uitvoering van een wettelijke verplichting, rechterlijke uitspraak en/of een gerechtelijke
          procedure.
        </li>
        <li>om u te informeren over wijzigingen in de functionaliteit van de veilingwebsite en over informatie die
          van belang is voor deelname aan een veiling c.q. het gebruik van de veilingdienst.
        </li>
        <li>Voor het gebruik van uw persoonsgegevens voor marketingdoeleinden van BVA en/of van haar partners, zoals
          commerciële aanbiedingen (nieuwsbrief) zal BVA op haar veilingwebsite eerst uw uitdrukkelijke toestemming
          vragen. Indien u geen marketinginformatie van BVA wenst te ontvangen, kunt u zich afmelden via de
          daarvoor bedoelde hyperlink die in iedere digitale nieuwsbrief is opgenomen.
        </li>
      </ul>

      <h3 class="margin-top">Cookies</h3>

      <p>BVA maakt op haar veilingwebsite gebruik van functionele cookies om de veilingwebsite beter te laten
        functioneren en om uw bezoek aan de veilingwebsite gebruikersvriendelijk(er) te maken. Zo gebruikt BVA
        cookies om u te herkennen bij een volgend bezoek aan de veilingwebsite. Ook maakt BVA gebruik van cookies
        voor statistische doeleinden om te kunnen zien hoe vaak de veilingwebsite wordt bezocht en welke pagina’s en
        onderwerpen populair zijn.</p>

        <p>Cookies zijn kleine tekstbestanden die door uw browser worden opgeslagen op uw computer, tablet of mobiele
          telefoon. Deze cookies stellen BVA in staat om informatie te verzamelen over het gebruik van haar diensten
          en om haar dienstverlening (waar mogelijk) aan te passen aan uw wensen. U kunt uw browser eventueel zo
          instellen dat u geen (of minder) cookies ontvangt. Belangrijk om te weten: Het gebruik van cookies is in
          principe veilig. E-mail en telemarketing acties zijn niet het gevolg van cookies. Cookies slaan namelijk uw
          e-mailadres of telefoonnummer niet op, noch wordt er met behulp van cookies een tot een persoon herleidbaar
          profiel opgebouwd.</p>

          <p>BVA maakt op haar website gebruik van externe advertentietechnologieën. Deze technologieën worden ook
            gebruikt om inzicht te verkrijgen in het gedrag van bezoekers. Het is mogelijk dat er op basis van dit
            gedrag gerichte advertenties worden getoond. Indien u zich wilt afmelden voor dergelijke cookies kunt u dat
            <a href="http://www.youronlinechoices.com/nl/uw-advertentie-voorkeuren">hier instellen</a>.</p>

            <h3 class="margin-top">Overige cookies</h3>
            <p>Op de website van BVA worden onder andere onderstaande cookies gebruikt.</p><br/>
            <table>
              <tbody>
                <tr>
                  <td style="width:50%"><strong>Functionele Cookies</strong></td>
                  <td style="width:50%"><strong>Doel</strong></td>
                </tr>
                <tr>
                  <td>
                    <ul>
                      <li>JSESSIONID</li>
                      <li>lb-https-1|2</li>
                      <li>consent</li>
                      <li>BVA_LOGIN</li>
                      <li>isLoggedin</li>
                    </ul>
                  </td>
                  <td>Dit zijn cookies die noodzakelijk zijn voor het functioneren van de website. Ze zijn bijvoorbeeld
                    nodig voor het inloggen, terug naar vorige-paginafunctie en het bijhouden van cookiekeuzes.
                  </td>
                </tr>
              </tbody>
            </table>
            <br>
            <table>
              <tbody>
                <tr>
                  <td style="width:50%"><strong>Google Analytics</strong></td>
                  <td style="width:50%"><strong>Doel</strong></td>
                </tr>
                <tr>
                  <td>
                    <ul>
                      <li>__utma cookie</li>
                      <li>__utmb cookie</li>
                      <li>__utmc cookie</li>
                      <li>__utmz cookie</li>
                    </ul>
                  </td>
                  <td>Google Analytics is een webanalyse-service die wordt aangeboden door Google Inc. De informatie die
                    Google verzamelt wordt zo veel mogelijk geanonimiseerd. Uw IP-adres wordt nadrukkelijk niet
                    meegegeven.
                  </td>
                </tr>
              </tbody>
            </table>
            <br>
            <table>
              <tbody>
                <tr>
                  <td style="width:50%"><strong>Google Maps</strong></td>
                  <td style="width:50%"><strong>Doel</strong></td>
                </tr>
                <tr>
                  <td>
                    <ul>
                      <li>NID</li>
                      <li>mapCenterLatCurrent</li>
                      <li>mapCenterLngCurrent</li>
                      <li>zoomLevelCurrent</li>
                    </ul>
                  </td>
                  <td>Google Maps is een kaartservice die gebruikt wordt om de locatie van veilingen te bekijken en/of een
                    route naar de veiling te bekijken.
                  </td>
                </tr>
              </tbody>
            </table>
            <br>
            <table>
              <tbody>
                <tr>
                  <td style="width:50%"><strong>Facebook en Twitter</strong></td>
                  <td style="width:50%"><strong>Doel</strong></td>
                </tr>
                <tr>
                  <td>
                    <ul>
                      <li>Diverse cookies<br></li>
                    </ul>
                  </td>
                  <td>Op deze site zijn knoppen opgenomen om pagina’s te kunnen promoten of delen op sociale netwerken
                    Facebook en Twitter. <br><br> Indien een bezoeker ingelogd is bij Twitter, kan Twitter via BVA
                    Auctions cookies op zijn/haar pc plaatsen die nodig zijn voor het delen van berichten en inzicht
                    vergaren via een getoonde tijdlijn.<br><br> Als een bezoeker ingelogd is bij Facebook, kan Facebook
                    via BVA Auctions cookies op zijn/haar pc plaatsen die nodig zijn voor het liken van berichten, het
                    updaten van zijn/haar status en het delen van artikelen.<br><br>Leest u de privacyverklaring van <a
                    href="http://www.facebook.com/policy.php">Facebook</a> en van <a
                    href="https://twitter.com/privacy">Twitter</a> (welke regelmatig kunnen wijzigen) om te zien wat
                    zij met uw persoonsgegevens doen die zij met deze code verwerken.
                  </td>
                </tr>
              </tbody>
            </table>
            <br>
            <table>
              <tbody>
                <tr>
                  <td style="width:50%"><strong>Chat en veelgestelde vragen</strong></td>
                  <td style="width:50%"><strong>Doel</strong></td>
                </tr>
                <tr>
                  <td>
                    <ul>
                      <li>Diverse cookies<br></li>
                    </ul>
                  </td>
                  <td>Op deze site zijn functies opgenomen om vragen te stellen aan BVA met behulp van een chatfunctie. Ook
                    zijn er mogelijkheden om de meest gestelde vragen te bekijken en te doorzoeken. Hiervoor gebruikt BVA
                    Auctions software van Livecom.<br><br> Indien een bezoeker gebruik maakt van deze mogelijkheden kan
                    Livecom via BVA Auctions cookies op zijn/haar pc plaatsen die nodig zijn voor het chatten of
                    zoeken.<br><br>Leest u de privacyverklaring van <a href="http://www.livecom.net/privacy-beleid">Livecom</a>
                    (welke regelmatig kan wijzigen) om te zien wat zij met de gegevens doen die zij met deze code
                    verwerken.
                  </td>
                </tr>
              </tbody>
            </table>
            <br>
            <table>
              <tbody>
                <tr>
                  <td style="width:50%"><strong>Visual Website Optimizer</strong></td>
                  <td style="width:50%"><strong>Doel</strong></td>
                </tr>
                <tr>
                  <td>
                    <ul>
                      <li>__gads</li>
                      <li>_vis_opt_exp_*</li>
                      <li>debug_vis_opt_exp_*</li>
                      <li>overig <br></li>
                    </ul>
                  </td>
                  <td>Visual website optimizer is een service die BVA gebruikt om haar website te vebeteren. De informatie
                    die wordt verzamelt wordt zo veel mogelijk geanonimiseerd. <br><br>Leest u de privacyverklaring van <a
                    href="http://visualwebsiteoptimizer.com/knowledge/what-are-the-various-cookies-used-by-visual-website-optimizer/">Visual
                    Website Optimizer</a> (welke regelmatig kan wijzigen) om te zien wat zij met de gegevens doen.
                  </td>
                </tr>
              </tbody>
            </table>
            <p></p>

            <h3>Hyperlinks</h3>

            <p>De veilingwebsite van BVA kan hyperlinks bevatten naar andere websites en websites van (business) partners
              die niet tot BVA behoren. BVA is niet aansprakelijk voor de privacy praktijken noch de inhoud van zulke
              sites.</p>
              <br/>
              <h3>Overige</h3>

              <p>BVA behoudt zich het recht voor om wijzigingen aan te brengen in deze Privacy- en Cookieverklaring. Wij
                verzoeken u dan ook om deze Privacy- en Cookieverklaring bij ieder bezoek aan de website steeds te
                raadplegen, zodat u van de laatste wijzigingen op de hoogte bent.</p>

                <p>Indien u nog vragen heeft over deze Privacy- en Cookieverklaring, de website van BVA of uw ervaringen met de
                  website, uw geregistreerde gegevens of indien u deze wilt wijzigen, kunt u contact met opnemen met:</p>

                  <p>BVA Auctions B.V.<br> Postbus 1838<br>3800 BV Amersfoort<br/>
                  <a href="mailto:info@bva-auctions.com">info@bva-auctions.com</a>
                  </p>
                  <br/>
                  <p>Deze Privacy-&nbsp; en Cookieverklaring is laatst gewijzigd op 28 januari 2014</p>
                </div>
              </div>
