
    <div class='padding'>
        <h3>Algemene informatie</h3>
        <hr/>
        <p>
            <b>Bod plaatsen</b>
        </p>
        <p>Een bod plaatsen is simpel. U kiest de kavel waarop u wilt bieden en klikt op 'Doe een bod'. Nu opent een pagina waar u
            uw bod kunt invullen en het totaalbedrag kunt bekijken. Controleer het bedrag en klik op 'Nu bieden' om uw bod te plaatsen.
            BELANGRIJK: bij het plaatsen van een bod gaat u akkoord met onze
            <a data-ui-sref='terms'>algemene voorwaarden</a>.</p>
        <p><br/>
            <b>Mijn kavels</b>
        </p>
        <p>Dit is uw persoonlijke kaveloverzicht. Om een kavel aan deze lijst toe te voegen, gaat u naar de kavelpagina (op deze (mobiele)
            site of in de BVA app) en klikt u op de knop 'Toevoegen aan Mijn Kavels'. Kavels waarop u heeft geboden worden automatisch
            aan deze lijst toegevoegd. Op de website bieden we u gratis een uitgebreider overzicht van 'Mijn kavels' met meer mogelijkheden.</p><br/>
        <p>
            <b>Zoeken</b>
        </p>
        <p>Hier kunt u zoeken naar kavels. Vul een zoekterm of het kavelnummer in. Het kavelnummer wordt in deze app en op de website
            steeds bij elke kavel vermeld. Gebruik een * om meer te vinden. Met fiets* vind u niet alleen een fiets maar ook een fietsband.</p>
        <p><br/>
            <b>Uitgelicht</b>
        </p>
        <p>Hier ziet u populaire kavels van dit moment.</p><br/>
        <p>
            <b>Meer zoek- en biedmogelijkheden?</b>
        </p>
        <p>Op onze website www.bva-auctions.com bieden we meer mogelijkheden om interessante kavels te vinden. Kijk op de site bijvoorbeeld
            onder 'Alle veilingen' voor een volledige lijst van alle huidige en toekomstige veilingen.</p>
        <p><br/>
            <b>Nog iets onduidelijk?</b>
        </p>
        <p>In de
            <a target='blanc' href="https://www.bva-auctions.com/faq?force-web=true">FAQ</a>op de 'volledige website' vindt u antwoorden op veelgestelde vragen en uitleg over onze website.</p>
        <p><br/>
            <b>Vragen, tips of klachten?</b>
        </p>
        <p>Ons team van medewerkers helpt u graag!</p>
        <p>Telefoonnummer: +31 (0)33 46 000 70
            <br>ma t/m do: 8.00 tot 20.00 uur
            <br>vrijdag: 8.00 tot 17.30 uur
            <br>Of stuur een e-mail naar
            <a href="mailto:klantenservice@bva-auctions.com">klantenservice@bva-auctions.com</a>
        </p>
    </div>