<div class="row padding">
	<div class="col-xs center-xs">
		<h3 class="bva-orange">Top 5 veelgestelde vragen</h3>
	</div>

	<ul class="accordion" accordion-directive item-selector="item">
		<item>
			<h2>1.Waar en wanneer kan ik mijn kavel ophalen?</h2>
			<div>
				<p class="margin-bottom">
					Zodra uw bod op een kavel is geaccepteerd en de kavel aan u is gegund, sturen wij u een factuur naar het door u opgegeven
					e-mailadres. Op deze factuur staan de ophaallocatie en –datum vermeld. Deze informatie vindt u ook bij de veilinginformatie.
				</p>
				<p class="margin-bottom">
					Op de betreffende dag meldt u zich bij ons met de afgedrukte versie van uw factuur en controleren wij of uw betaling reeds
					is bijgeschreven op onze bankrekening. U hebt meestal diverse mogelijkheden om te betalen.
				</p>
				<p class="margin-bottom">
					Op de locatie ontvangt u ter bevestiging van de betaling een afleverbon. U overhandigt deze afleverbon aan een van de medewerkers
					en deze begeleidt u naar uw gekochte kavel(s). U bent zelf verantwoordelijk voor het eventueel demonteren en meenemen
					van de kavel(s).
				</p>
				<p class="margin-bottom">
					<b>Let op:</b> Op de locatie zijn geen transport- of demontagemiddelen aanwezig. Indien nodig dient u zelf de middelen
					mee te nemen om uw kavel(s) te vervoeren.
				</p>
			</div>
		</item>
		<item>
			<h2>2. Hoe kan ik mijn factuur betalen?</h2>
			<div>
				<p class="margin-bottom">
					Als u bij het sluiten van de veiling de hoogste bieder bent en de kavel is u gegund, sturen wij u een e-mail met de factuuraankondiging.
					Bij de veilinginformatiepagina staat aangegeven welke betalingsmogelijkheden gelden voor de betreffende veiling. De
					volgende twee mogelijkheden gelden altijd:
				</p>
				<strong>1. Eenvoudig, snel en veilig betalen via IDEAL met uw eigen bankrekening. </strong>
				<p class="margin-bottom">(Alleen mogelijk als u een Nederlandse bankrekening heeft.) Hoe werkt het betalen via IDEAL? Als u inlogt op uw BVA-account
					kunt u via uw profiel rechtsboven naar 'mijn facturen'.</p>
				<p>Rechts van de openstaande factuur wordt de button 'Betalen' weergegeven. Klik hierop en volg de instructies. </p>

				<br> Rechts van de openstaande factuur wordt de button 'Betalen' weergegeven.&nbsp;Klik hierop en volg de&nbsp;instructies.&nbsp;
				<br>
				<br>
				<strong>2. Betalen via een persoonlijke bankoverschrijving</strong>.
				<br>
				<br> Hoe werkt een persoonlijke bankoverschrijving?
				<br>
				<br> Voor veilingen in Nederland kunt u het factuurbedrag overmaken (betaalmogelijkheid optie 2) naar onze rekening bij de
				ABN AMRO:
				<br>
				<br> IBAN: NL35ABNA0491548788
				<br> T.n.v.: Stichting Derdengelden BVA Auctions
				<br> O.v.v.: uw factuur- en klantnummer
				<br> BIC/SWIFT: ABNANL2A
				<br>
				<br> Als&nbsp;bij de veilinginformatiepagina wordt vermeld&nbsp;dat u contant kunt&nbsp;betalen en/of pinnen, dan geldt onderstaande
				derde mogelijkheid ook:&nbsp;
				<br>
				<br> 3. <strong>Contant betalen (tot € 1.000,-) en/of pinnen op de ophaaldag</strong>.
				<br>
				<br> Laat voor grote bedragen eventueel (eenmalig) uw limiet verhogen.
				<br>
				<br> Let op!
				<br> In veel gevallen is het aan te bevelen om vooraf de factuur te voldoen. Hiermee voorkomt lange wachttijden bij het ophalen
				van uw kavel.</p>
			</div>
		</item>

		<item>
			<h2>3. Hoe kan ik bieden?</h2>
			<div>
				<p>Zodra de veiling opent&nbsp;en u bent ingelogd op de website, kunt u biedingen&nbsp;uitbrengen op een kavel.
					<br>
					<br> In onderstaande video's kunt u stapsgewijs (beeld en voice-over) zien hoe u kunt bieden via een kavelpagina en middels
					'mijn kavels' (1-click Bidding):
					<br>
					<br>
					<a href="http://youtu.be/jbYGV-97Wug" target="_blank">Bieden via een kavelpagina</a>
					<br>
					<a href="http://youtu.be/r77m72vI1v4" target="_blank">Bieden via 'mijn kavels'</a>
					<br>
					<br>
					<b>Let op!</b>
					<br> Als u een bod hebt gedaan op een kavel, rekent de computer het totaalbedrag van uw bod uit (incl. veilingkosten en
					btw). Pas nadat u het totaalbedrag hebt goedgekeurd, is uw bod uitgebracht. Wij willen u er nadrukkelijk op wijzen dat
					een eenmaal geplaatst bod bindend is.&nbsp;</p>
			</div>
		</item>
		<item>
			<h2>4. Wat zijn de openingstijden van BVA Auctions?</h2>
			<div>
				<p><strong>Telefonische bereikbaarbaarheid</strong>
					<br> BVA Auctions is telefonisch bereikbaar van maandag tot en met donderdag van 08.00 tot 20.00&nbsp;uur en op vrijdag
					van 08.00 tot 17.30 uur. In het weekend en op reguliere Nederlandse feestdagen&nbsp;is BVA Auctions telefonisch niet
					bereikbaar.&nbsp;
					<br> Tel: &nbsp;+31 (0)33 46 000 70
					<br> Fax: +31 (0)33 46 000 79
					<br>
					<br>
					<strong>Via e-mail</strong>
					<br> U kunt altijd een e-mail sturen naar <a href="mailto:klantenservice@bva-auctions.com">klantenservice@bva-auctions.com</a>.
					E-mails worden&nbsp;maandag t/m donderdag tussen 08:00 - 22.00 uur beantwoord en op vrijdag tussen 08.00- 17.30 uur.
					<br>
					<br>
					<strong>Via live CHAT (Alleen desktop)</strong>
					<br> Ook kunt u uw vragen stellen via onze live CHAT. Onze agents zijn de gehele week (maandag tot en met zondag) bereikbaar&nbsp;van
					08.00 - 22.00 uur.</p>
			</div>
		</item>
		<item>
			<h2>5. Hoe kan ik registreren?</h2>
			<div>
				U kunt zich gratis registreren op onze website. Klik hiervoor op de button&nbsp;<a href="https://www.bva-auctions.com/register/index?force-web=true"
				target="_blank">registreren</a>&nbsp;rechtsboven op de pagina. Vul uw gegevens in en kies een gebruikersnaam en wachtwoord.&nbsp;Vervolgens
				ontvangt u een e-mail (activeringse-mail) op het door u aangegeven e-mailadres. Nadat u de instructies in deze e-mail
				hebt uitgevoerd, kunt u inloggen op de website met uw gebruikersnaam en wachtwoord. (Indien u de activeringse-mail niet
				in uw inbox ontvangt, kan deze mogelijk terecht zijn gekomen in uw ongewenste e-mail.)
				<br>
				<br> Indien u gebruikmaakt van een openbaar e-mailadres (Hotmail, Gmail etc.), wordt u verzocht om uw mobiele telefoonnummer
				te verifiëren. Hiervoor wordt een sms met een verificatiecode naar het door u opgegeven mobiele telefoonnummer gestuurd.
				Vul deze code op het online registratieformulier in.
				<br> &nbsp;
				<br> BVA Auctions heeft ook een video gemaakt waarin de registratie wordt uitgelegd. Klik&nbsp;<a href="http://youtu.be/cfKubHbSe7Y"
				target="_blank">hier</a>&nbsp;om de video in beeld met voice-over te bekijken.
				<br>
				<strong> Helaas is het niet mogelijk om de registratie uit te voeren via onze App of mobiele website.</strong>
		</item>
		</div>