<div class='padding'>
    <h3>Algemene voorwaarden</h3>
    <p><b>Bent u een zakelijke koper?</b>
    </p>
    <p>
        Dan gelden voor u de <a href="https://www.bva-auctions.com/static/terms/Algemene%20Veiling-en%20verkoopvoorwaarden%20voor%20ondernemers%20versie%20juni%202013.pdf">algemene voorwaarden voor zakelijke kopers.</a>.
    </p>
    <p><b>Bent u een consument?</b>
    </p>
    <p>
        Dan zijn er een drietal voorwaarden van toepassing:
        <ul style="list-style-type:none; padding:0;">
            <li> Allereerst de overeenkomst met de verkoper (onze opdrachtgever): <a href="https://www.bva-auctions.com/static/terms/Algemene%20Verkoopvoorwaarden%20voor%20consumenten%20(versie%20juni%202013).pdf">algemene verkoopvoorwaarden voor consumenten.</a>
            </li>
            <li> Daarnaast de overeenkomt met BVA: <a href="https://www.bva-auctions.com/static/terms/Algemene%20Veilingvoorwaarden%20voor%20consumenten%20versie%20juni%202013.pdf">algemene veilingvoorwaarden voor consumenten.</a>
            </li>
            <br/>
            <li> En tot slot de onderstaande voorwaarden van de Nederlandse Thuiswinkel Organisatie.</li>
        </ul>
    </p>
    <br/>
    <h5>
    <b>Algemene Voorwaarden Thuiswinkel voor de levering van diensten</b>
  </h5>
    <p>
        Deze Algemene Voorwaarden van de Nederlandse Thuiswinkel Organisatie zijn tot stand gekomen in overleg met de Consumentenbond
        in het kader van de Coördinatiegroep Zelfreguleringsoverleg (CZ) van de Sociaal-Economische Raad en treden in werking
        per 1 januari 2012.
    </p>
    <br/>

    <ul class="accordion" accordion-directive item-selector="item">
        <item>
            <h2>Artikel 1 - Definities</h2>
            <div>In deze voorwaarden wordt verstaan onder:
                <ol>
                    <li>Bedenktijd: de termijn waarbinnen de consument gebruik kan maken van zijn herroepingsrecht; </li>
                    <li>Consument: de natuurlijke persoon die niet handelt in de uitoefening van beroep of bedrijf en een overeenkomst
                        op afstand aangaat met de ondernemer; </li>
                    <li>Dag: kalenderdag;
                        <br/>
                        <li> Duurtransactie: een overeenkomst op afstand met betrekking tot een reeks van diensten, waarvan de
                            leverings- en/of afnameverplichting in de tijd is gespreid; </li>
                        <li>Duurzame gegevensdrager: elk middel dat de consument of ondernemer in staat stelt om informatie die
                            aan hem persoonlijk is gericht, op te slaan op een manier die toekomstige raadpleging en ongewijzigde
                            reproductie van de opgeslagen informatie mogelijk maakt. </li>
                        <li> Herroepingsrecht: de mogelijkheid voor de consument om binnen de bedenktijd af te zien van de overeenkomst
                            op afstand; </li>
                        <li> Ondernemer: de natuurlijke of rechtspersoon die lid is van de Nederlandse Thuiswinkel Organisatie
                            en diensten op afstand aan consumenten aanbiedt; </li>
                        <li>Overeenkomst op afstand: een overeenkomst waarbij in het kader van een door de ondernemer georganiseerd
                            systeem voor verkoop op afstand van diensten, tot en met het sluiten van de overeenkomst uitsluitend
                            gebruik gemaakt wordt van één of meer technieken voor communicatie op afstand; </li>
                        <li> Techniek voor communicatie op afstand: middel dat kan worden gebruikt voor het sluiten van een overeenkomst,
                            zonder dat consument en ondernemer gelijktijdig in dezelfde ruimte zijn samengekomen. </li>
                </ol>
            </div>
        </item>
        <item>
            <h2>Artikel 2 - Identiteit van de ondernemer</h2>
            <div>
                Naam ondernemer: BVA Auctions B.V.</br>
                Handelend onder de naam/namen: BVA Auctions B.V., BVA Automotive, BVA Taxaties;
                <ol style="list-style-type:none">
                    <li>Vestigings- en bezoekadres: Kryptonweg 8, 3812 RZ Amersfoort</li>
                    <li> Telefoonnummer: +31 (0)33 460 00 70;</li>
                    <li> Faxnummer: +31 (0)33 460 00 79;</li>
                    <li> Emailadres: info@bva-auctions.com</li>
                    <li> Bereikbaarheid: van maandag t/m donderdag zijn wij telefonisch beschikbaar tussen 8:00 en 20:00. Op vrijdagen
                        tussen 8:00 t/m 17:30.</li>
                    <li> Postadres :</li>
                    <li> BVA Auctions BV</li>
                    <li> Postbus 1838</li>
                    <li> 3800 BV Amersfoort</li>
                    <li> KvK-nummer: 32118690</li>
                    <li> Btw-identificatienummer: NL816010.456.B01</li>
                </ol>

                Indien de activiteit van de ondernemer is onderworpen aan een relevant vergunningstelsel: de gegevens over de toezichthoudende
                autoriteit: Indien de ondernemer een gereglementeerd beroep uitoefent:
                <ol>
                    - de beroepsvereniging of -organisatie waarbij hij is aangesloten;
                    <br/> - de beroepstitel, de plaats in de EU of de Europese Economische Ruimte waar deze is toegekend;</br>
                    - een verwijzing naar de beroepsregels die in Nederland van toepassing zijn en aanwijzingen waar en hoe deze beroepsregels
                    toegankelijk zijn.
                    <br/>
                </ol>
            </div>
        </item>
        <item>
            <h2>Artikel 3 - Toepasselijkheid</h2>
            <div>
                <ol>
                    <li>Deze algemene voorwaarden zijn van toepassing op elk aanbod van de ondernemer en op elke totstandgekomen
                        overeenkomst op afstand tussen ondernemer en consument.</li>
                    <li> Voordat de overeenkomst op afstand wordt gesloten, wordt de tekst van deze algemene voorwaarden aan de
                        consument beschikbaar gesteld. Indien dit redelijkerwijs niet mogelijk is, zal voordat de overeenkomst
                        op afstand wordt gesloten, worden aangegeven dat de algemene voorwaarden bij de ondernemer zijn in
                        te zien en zij op verzoek van de consument zo spoedig mogelijk kosteloos worden toegezonden.
                    </li>
                    <li> Indien de overeenkomst op afstand elektronisch wordt gesloten, kan in afwijking van het vorige lid en
                        voordat de overeenkomst op afstand wordt gesloten, de tekst van deze algemene voorwaarden langs elektronische
                        weg aan de consument ter beschikking worden gesteld op zodanige wijze dat deze door de consument
                        op een eenvoudige manier kan worden opgeslagen op een duurzame gegevensdrager. Indien dit redelijkerwijs
                        niet mogelijk is, zal voordat de overeenkomst op afstand wordt gesloten, worden aangegeven waar van
                        de algemene voorwaarden langs elektronische weg kan worden kennisgenomen en dat zij op verzoek van
                        de consument langs elektronische weg of op andere wijze kosteloos zullen worden toegezonden.
                    </li>
                    <li> Voor het geval dat naast deze algemene voorwaarden tevens specifieke dienstenvoorwaarden van toepassing
                        zijn, is het tweede en derde lid van overeenkomstige toepassing en kan de consument zich in geval
                        van tegenstrijdige algemene voorwaarden steeds beroepen op de toepasselijke bepaling die voor hem
                        het meest gunstig is.
                    </li>
                </ol>
            </div>
        </item>
        <item>
            <h2>Artikel 4 - Het aanbod</h2>
            <div>
                <ol>
                    <li>Indien een aanbod een beperkte geldigheidsduur heeft of onder voorwaarden geschiedt, wordt dit nadrukkelijk
                        in het aanbod vermeld.</li>
                    <li>Het aanbod bevat een volledige en nauwkeurige omschrijving van de aangeboden diensten. De beschrijving
                        is voldoende gedetailleerd om een goede beoordeling van het aanbod door de consument mogelijk te
                        maken. Als de ondernemer gebruik maakt van afbeeldingen zijn deze een waarheidsgetrouwe weergave
                        van de aangeboden diensten. Kennelijke vergissingen of kennelijke fouten in het aanbod binden de
                        ondernemer niet.
                    </li>
                    <li>Elk aanbod bevat zodanige informatie, dat voor de consument duidelijk is wat de rechten en verplichtingen
                        zijn, die aan de aanvaarding van het aanbod zijn verbonden. Dit betreft in het bijzonder:</li>
                    <ul>
                        <li>de prijs inclusief belastingen;</li>
                        <li>de eventuele kosten van aflevering;</li>
                        <li>de wijze waarop de overeenkomst tot stand zal komen en welke handelingen daarvoor nodig zijn;</li>
                        <li>het al dan niet van toepassing zijn van het herroepingsrecht;</li>
                        <li>de wijze van betaling, aflevering en uitvoering van de overeenkomst;</li>
                        <li>de termijn voor aanvaarding van het aanbod, dan wel de termijn waarbinnen de ondernemer de prijs
                            garandeert;</li>
                        <li>de hoogte van het tarief voor communicatie op afstand indien de kosten van het gebruik van de techniek
                            voor communicatie op afstand worden berekend op een andere grondslag dan het reguliere basistarief
                            voor het gebruikte communicatiemiddel;</li>
                        <li>of de overeenkomst na de totstandkoming wordt gearchiveerd, en zo ja op welke wijze deze voor de
                            consument te raadplegen is;</li>
                        <li>de manier waarop de consument, voor het sluiten van de overeenkomst, de door hem in het kader van
                            de overeenkomst verstrekte gegevens kan controleren en indien gewenst herstellen;</li>
                        <li>de eventuele andere talen waarin, naast het Nederlands, de overeenkomst kan worden gesloten;</li>
                        <li>de gedragscodes waaraan de ondernemer zich heeft onderworpen en de wijze waarop de consument deze
                            gedragscodes langs elektronische weg kan raadplegen; en</li>
                        <li>de minimale duur van de overeenkomst op afstand in geval van een duurtransactie.</li>
                    </ul>
                </ol>
            </div>
        </item>
        <item>
            <h2>Artikel 5 - De overeenkomst</h2>
            <div>
                <ol>
                    <li>De overeenkomst komt, onder voorbehoud van het bepaalde in lid 4, tot stand op het moment van aanvaarding
                        door de consument van het aanbod en het voldoen aan de daarbij gestelde voorwaarden.</li>
                    <li>Indien de consument het aanbod langs elektronische weg heeft aanvaard, bevestigt de ondernemer onverwijld
                        langs elektronische weg de ontvangst van de aanvaarding van het aanbod. Zolang de ontvangst van deze
                        aanvaarding niet door de ondernemer is bevestigd, kan de consument de overeenkomst ontbinden.
                    </li>
                    <li>Indien de overeenkomst elektronisch tot stand komt, treft de ondernemer passende technische en organisatorische
                        maatregelen ter beveiliging van de elektronische overdracht van data en zorgt hij voor een veilige
                        webomgeving. Indien de consument elektronisch kan betalen, zal de ondernemer daartoe passende veiligheidsmaatregelen
                        in acht nemen.
                    </li>
                    <li>De ondernemer kan zich - binnen wettelijke kaders - op de hoogte stellen of de consument aan zijn betalingsverplichtingen
                        kan voldoen, alsmede van al die feiten en factoren die van belang zijn voor een verantwoord aangaan
                        van de overeenkomst op afstand. Indien de ondernemer op grond van dit onderzoek goede gronden heeft
                        om de overeenkomst niet aan te gaan, is hij gerechtigd gemotiveerd een bestelling of aanvraag te
                        weigeren of aan de uitvoering bijzondere voorwaarden te verbinden.
                    </li>
                    <li>De ondernemer zal bij het product of dienst aan de consument de volgende informatie, schriftelijk of
                        op zodanige wijze dat deze door de consument op een toegankelijke manier kan worden opgeslagen op
                        een duurzame gegevensdrager, meesturen:
                    </li>
                    <ol>
                        <li>het bezoekadres van de vestiging van de ondernemer waar de consument met klachten terecht kan;</li>
                        <li> de voorwaarden waaronder en de wijze waarop de consument van het herroepingsrecht gebruik kan maken,
                            dan wel een duidelijke melding inzake het uitgesloten zijn van het herroepingsrecht;</li>
                        <li>de informatie over garanties en bestaande service na aankoop;</li>
                        <li>de in artikel 4 lid 3 van deze voorwaarden opgenomen gegevens, tenzij de ondernemer deze gegevens
                            al aan de consument heeft verstrekt vóór de uitvoering van de overeenkomst;</li>
                        <li>de vereisten voor opzegging van de overeenkomst indien de overeenkomst een duur heeft van meer dan
                            één jaar of van onbepaalde duur is.</li>
                    </ol>
                    <li>In geval van een duurtransactie is de bepaling in het vorige lid slechts van toepassing op de eerste
                        levering.</li>
                </ol>
            </div>
        </item>
        <item>
            <h2>Artikel 6 - Herroepingsrecht</h2>
            <div>
                <ol>
                    <li>Bij levering van diensten heeft de consument de mogelijkheid de overeenkomst zonder opgave van redenen
                        te ontbinden gedurende ten minste veertien dagen, ingaande op de dag van het aangaan van de overeenkomst.</li>
                    <li>Om gebruik te maken van zijn herroepingsrecht, zal de consument zich richten naar de door de ondernemer
                        bij het aanbod en/of uiterlijk bij de levering ter zake verstrekte redelijke en duidelijke instructies.</li>
                </ol>
            </div>
        </item>
        <item>
            <h2>Artikel 7 - Kosten in geval van herroeping</h2>
            <div>
                <ol>
                    <li>Indien de consument gebruik maakt van zijn herroepingsrecht, komen ten hoogste de kosten van terugzending
                        voor zijn rekening.</li>
                    <li>Indien de consument een bedrag betaald heeft, zal de ondernemer dit bedrag zo spoedig mogelijk, doch
                        uiterlijk binnen 30 dagen na de terugzending of herroeping, terugbetalen.</li>
                </ol>
            </div>
        </item>
        <item>
            <h2>Artikel 8 - Uitsluiting herroepingsrecht</h2>
            <div>
                <ol>
                    <li>De ondernemer kan het herroepingsrecht van de consument uitsluiten voor zover voorzien in lid 2. De uitsluiting
                        van het herroepingsrecht geldt slechts indien de ondernemer dit duidelijk in het aanbod, althans
                        tijdig voor het sluiten van de overeenkomst, heeft vermeld.
                    </li>
                    <li>Uitsluiting van het herroepingsrecht is slechts mogelijk voor diensten:</li>
                    <ol>
                        <li>betreffende logies, vervoer, restaurantbedrijf of vrijetijdsbesteding te verrichten op een bepaalde
                            datum of tijdens een bepaalde periode;</li>
                        <li>waarvan de levering met uitdrukkelijke instemming van de consument is begonnen voordat de bedenktijd
                            is verstreken;</li>
                        <li>betreffende veilingen, weddenschappen en loterijen.</li>
                    </ol>
                </ol>

            </div>
        </item>
        <item>
            <h2>Artikel 9 - De prijs</h2>
            <div>
                <ol>
                    <li>Gedurende de in het aanbod vermelde geldigheidsduur worden de prijzen van de aangeboden diensten niet
                        verhoogd, behoudens prijswijzigingen als gevolg van veranderingen in btw-tarieven.</li>
                    <li>In afwijking van het vorige lid kan de ondernemer diensten waarvan de prijzen gebonden zijn aan schommelingen
                        op de financiële markt en waar de ondernemer geen invloed op heeft, met variabele prijzen aanbieden.
                        Deze gebondenheid aan schommelingen en het feit dat eventueel vermelde prijzen richtprijzen zijn,
                        worden bij het aanbod vermeld.
                    </li>
                    <li>Prijsverhogingen binnen 3 maanden na de totstandkoming van de overeenkomst zijn alleen toegestaan indien
                        zij het gevolg zijn van wettelijke regelingen of bepalingen.</li>
                    <li>Prijsverhogingen vanaf 3 maanden na de totstandkoming van de overeenkomst zijn alleen toegestaan indien
                        de ondernemer dit bedongen heeft en:
                        <ol>
                            <li>deze het gevolg zijn van wettelijke regelingen of bepalingen; of</li>
                            <li> de consument de bevoegdheid heeft de overeenkomst op te zeggen met ingang van de dag waarop de
                                prijsverhoging ingaat.
                            </li>
                        </ol>
                    </li>
                    <li>De in het aanbod van diensten genoemde prijzen zijn inclusief btw.</li>
                </ol>
            </div>
        </item>
        <item>
            <h2>Artikel 10 - Conformiteit en garantie</h2>
            <div>
                <ol>
                    <li>De ondernemer staat er voor in dat de diensten voldoen aan de overeenkomst, de in het aanbod vermelde
                        specificaties, aan de redelijke eisen van deugdelijkheid en/of bruikbaarheid en de op de datum van
                        de totstandkoming van de overeenkomst bestaande wettelijke bepalingen en/of overheidsvoorschriften.
                    </li>
                    <li>Een door de ondernemer, fabrikant of importeur verstrekte garantie doet niets af aan de wettelijke rechten
                        en vorderingen die de consument op grond van de overeenkomst tegenover de ondernemer kan doen gelden.</li>
                </ol>
            </div>
        </item>
        <item>
            <h2>Artikel 11 - Levering en uitvoering</h2>
            <div>
                <ol>
                    <li>De ondernemer zal de grootst mogelijke zorgvuldigheid in acht nemen bij de beoordeling van aanvragen
                        tot verlening van diensten.</li>
                    <li>Als plaats van levering geldt het adres dat de consument aan het bedrijf kenbaar heeft gemaakt.</li>
                    <li>Met inachtneming van hetgeen hierover in artikel 4 van deze algemene voorwaarden is vermeld, zal het
                        bedrijf geaccepteerde bestellingen met bekwame spoed doch uiterlijk binnen 30 dagen uitvoeren tenzij
                        een langere leveringstermijn is afgesproken. Indien de bezorging vertraging ondervindt, of indien
                        een bestelling niet dan wel slechts gedeeltelijk kan worden uitgevoerd, ontvangt de consument hiervan
                        uiterlijk 30 dagen nadat hij de bestelling geplaatst heeft bericht. De consument heeft in dat geval
                        het recht om de overeenkomst zonder kosten te ontbinden en recht op eventuele schadevergoeding.
                    </li>
                    <li>In geval van ontbinding conform het vorige lid zal de ondernemer het bedrag dat de consument betaald
                        heeft zo spoedig mogelijk, doch uiterlijk binnen 30 dagen na ontbinding, terugbetalen.</li>
                </ol>
            </div>
        </item>
        <item>
            <h2>Artikel 12 - Duurtransacties: duur, opzegging en verlenging</h2>
            <div>
                <h4>Opzegging</h4>
                <ol>
                    <li>De consument kan een overeenkomst die voor onbepaalde tijd is aangegaan en die strekt tot het geregeld
                        afleveren van diensten, te allen tijde opzeggen met inachtneming van daartoe overeengekomen opzeggingsregels
                        en een opzegtermijn van ten hoogste één maand.
                    </li>
                    <li>De consument kan een overeenkomst die voor bepaalde tijd is aangegaan en die strekt tot het geregeld
                        afleveren diensten, te allen tijde tegen het einde van de bepaalde duur opzeggen met inachtneming
                        van daartoe overeengekomen opzeggingsregels en een opzegtermijn van ten hoogste één maand.
                    </li>
                    <li>De consument kan de in de vorige leden genoemde overeenkomsten:</li>
                    <ul>
                        <li>te allen tijde opzeggen en niet beperkt worden tot opzegging op een bepaald tijdstip of in een bepaalde
                            periode;</li>
                        <li>tenminste opzeggen op dezelfde wijze als zij door hem zijn aangegaan;</li>
                        <li>altijd opzeggen met dezelfde opzegtermijn als de ondernemer voor zichzelf heeft bedongen.</li>
                    </ul>
                </ol>
                <br/>
                <h4>Verlenging</h4>
                <ol>
                    <li>Een overeenkomst die voor bepaalde tijd is aangegaan en die strekt tot het geregeld afleveren van diensten,
                        mag niet stilzwijgend worden verlengd of vernieuwd voor een bepaalde duur.</li>
                    <li>In afwijking van het vorige lid mag een overeenkomst die voor bepaalde tijd is aangegaan en die strekt
                        tot het geregeld afleveren van dag- nieuws- en weekbladen en tijdschriften stilzwijgend worden verlengd
                        voor een bepaalde duur van maximaal drie maanden, als de consument deze verlengde overeenkomst tegen
                        het einde van de verlenging kan opzeggen met een opzegtermijn van ten hoogste één maand.
                    </li>
                    <li>Een overeenkomst die voor bepaalde tijd is aangegaan en die strekt tot het geregeld afleveren van diensten,
                        mag alleen stilzwijgend voor onbepaalde duur worden verlengd als de consument te allen tijde mag
                        opzeggen met een opzegtermijn van ten hoogste één maand en een opzegtermijn van ten hoogste drie
                        maanden in geval de overeenkomst strekt tot het geregeld, maar minder dan eenmaal per maand, afleveren
                        van dag-, nieuws- en weekbladen en tijdschriften.
                    </li>
                    <li>Een overeenkomst met beperkte duur tot het geregeld ter kennismaking afleveren van dag-, nieuws- en weekbladen
                        en tijdschriften (proef- of kennismakingsabonnement) wordt niet stilzwijgend voortgezet en eindigt
                        automatisch na afloop van de proef- of kennismakingsperiode.
                    </li>
                </ol>
                <br/>

                <h4>Duur</h4>
                <ol>
                    <li>Als een overeenkomst een duur van meer dan een jaar heeft, mag de consument na een jaar de overeenkomst
                        te allen tijde met een opzegtermijn van ten hoogste een maand opzeggen, tenzij de redelijkheid en
                        billijkheid zich tegen opzegging vóór het einde van de overeengekomen duur verzetten.
                    </li>
                </ol>
            </div>
        </item>
        <item>
            <h2>Artikel 13 - Betaling</h2>
            <div>
                <ol>
                    <li>Voorzover niet anders is overeengekomen, dienen de door de consument verschuldigde bedragen te worden
                        voldaan binnen 14 dagen na het ingaan van de bedenktermijn als bedoeld in artikel 6 lid 1. In geval
                        van een overeenkomst tot het verlenen van een dienst, vangt deze termijn aan nadat de consument de
                        bevestiging van de overeenkomst heeft ontvangen.
                    </li>
                    <li>Wanneer vooruitbetaling is bedongen, kan de consument geen enkel recht doen gelden aangaande de uitvoering
                        van de desbetreffende dienst(en), alvorens de bedongen vooruitbetaling heeft plaatsgevonden.</li>
                    <li>De consument heeft de plicht om onjuistheden in verstrekte of vermelde betaalgegevens onverwijld aan
                        de ondernemer te melden.</li>
                    <li>In geval van wanbetaling van de consument heeft de ondernemer behoudens wettelijke beperkingen, het recht
                        om de vooraf aan de consument kenbaar gemaakte redelijke kosten in rekening te brengen.</li>
                </ol>
            </div>
        </item>
        <item>
            <h2>Artikel 14 - Klachtenregeling</h2>
            <div>
                <ol>
                    <li>De ondernemer beschikt over een voldoende bekend gemaakte klachtenprocedure en behandelt de klacht overeenkomstig
                        deze klachtenprocedure.</li>
                    <li>Klachten over de uitvoering van de overeenkomst moeten binnen bekwame tijd, volledig en duidelijk omschreven
                        worden ingediend bij de ondernemer, nadat de consument de gebreken heeft geconstateerd.</li>
                    <li>Bij de ondernemer ingediende klachten worden binnen een termijn van 14 dagen gerekend vanaf de datum
                        van ontvangst beantwoord. Als een klacht een voorzienbaar langere verwerkingstijd vraagt, wordt door
                        de ondernemer binnen de termijn van 14 dagen geantwoord met een bericht van ontvangst en een indicatie
                        wanneer de consument een meer uitvoerig antwoord kan verwachten.
                    </li>
                    <li>Een klacht over een dienst of de service van de ondernemer kan eveneens worden ingediend via een klachtenformulier
                        op de consumentenpagina van de website van de Nederlandse Thuiswinkel Organisatie www.thuiswinkel.org.
                        De klacht wordt dan zowel naar de betreffende ondernemer als naar de Nederlandse Thuiswinkel Organisatie
                        gestuurd.
                    </li>
                    <li>Indien de klacht niet in onderling overleg kan worden opgelost ontstaat een geschil dat vatbaar is voor
                        de geschillenregeling.</li>
                </ol>
            </div>
        </item>

        <item>
            <h2>Artikel 15 - Geschillen</h2>
            <div>
                <ol>
                    <li>Op overeenkomsten tussen de ondernemer en de consument waarop deze algemene voorwaarden betrekking hebben,
                        is uitsluitend Nederlands recht van toepassing.</li>
                    <li>Geschillen tussen de consument en de ondernemer over de totstandkoming of uitvoering van overeenkomsten
                        met betrekking tot door deze ondernemer te leveren of geleverde diensten, kunnen, met inachtneming
                        van het hierna bepaalde, zowel door de consument als de ondernemer worden voorgelegd aan de Geschillencommissie
                        Thuiswinkel, Postbus 90600, 2509 LP te Den Haag (www.sgc.nl).</li>
                    <li>Een geschil wordt door de Geschillencommissie slechts in behandeling genomen, indien de consument zijn
                        klacht eerst binnen bekwame tijd aan de ondernemer heeft voorgelegd.</li>
                    <li>Uiterlijk drie maanden nadat het geschil is ontstaan dient het geschil schriftelijk bij de Geschillencommissie
                        aanhangig te worden gemaakt.</li>
                    <li>Wanneer de consument een geschil wil voorleggen aan de Geschillencommissie, is de ondernemer aan deze
                        keuze gebonden. Wanneer de ondernemer dat wil doen, zal de consument binnen vijf weken na een daartoe
                        door de ondernemer schriftelijk gedaan verzoek, schriftelijk dienen uit te spreken of hij zulks ook
                        wenst dan wel het geschil wil laten behandelen door de daartoe bevoegde rechter. Verneemt de ondernemer
                        de keuze van de consument niet binnen de termijn van vijf weken, dan is de ondernemer gerechtigd
                        het geschil voor te leggen aan de bevoegde rechter.</li>
                    <li>De Geschillencommissie doet uitspraak onder de voorwaarden zoals deze zijn vastgesteld in het reglement
                        van de Geschillencommissie. De beslissingen van de Geschillencommissie geschieden bij wege van bindend
                        advies.</li>
                    <li>De Geschillencommissie zal een geschil niet behandelen of de behandeling staken, indien aan de ondernemer
                        surseance van betaling is verleend, deze in staat van faillissement is geraakt of zijn bedrijfsactiviteiten
                        feitelijk heeft beëindigd, voordat een geschil door de commissie op de zitting is behandeld en een
                        einduitspraak is gewezen.</li>
                    <li>Indien naast de Geschillencommissie Thuiswinkel een andere erkende of bij de Stichting Geschillencommissies
                        voor Consumentenzaken (SGC) of het Klachteninstituut Financiële Dienstverlening (Kifid) aangesloten
                        geschillencommissie bevoegd is, is voor geschillen betreffende hoofdzakelijk de methode van verkoop
                        of dienstverlening op afstand de Geschillencommissie Thuiswinkel bij uitsluiting bevoegd. Voor alle
                        overige geschillen de andere erkende bij SGC of Kifid aangesloten geschillencommissie.</li>
                </ol>
            </div>
        </item>
        <item>
            <h2>Artikel 16 - Branchegarantie</h2>
            <div>
                <ol>
                    <li>De Nederlandse Thuiswinkel Organisatie staat garant voor de nakoming van de bindende adviezen van de
                        Geschillencommissie Thuiswinkel door haar leden, tenzij het lid besluit het bindend advies binnen
                        twee maanden na de verzending ervan ter toetsing aan de rechter voor te leggen. Deze garantstelling
                        herleeft, indien het bindend advies na toetsing door de rechter in stand is gebleven en het vonnis
                        waaruit dit blijkt, in kracht van gewijsde is gegaan. Tot maximaal een bedrag van €10.000,- per bindend
                        advies, wordt dit bedrag door de Nederlandse Thuiswinkel Organisatie aan de consument uitgekeerd.
                        Bij bedragen groter dan €10.000,- per bindend advies, wordt €10.000,- uitgekeerd. Voor het meerdere
                        heeft de Nederlandse Thuiswinkel Organisatie een inspanningsverplichting om ervoor te zorgen dat
                        het lid het bindend advies nakomt.</li>
                    <li>Voor toepassing van deze garantie is vereist dat de consument een schriftelijk beroep hierop doet bij
                        de Nederlandse Thuiswinkel Organisatie en dat hij zijn vordering op de ondernemer overdraagt aan
                        de Nederlandse Thuiswinkel Organisatie. Indien de vordering op de ondernemer meer bedraagt dan €10.000,-,
                        wordt de consument aangeboden zijn vordering voor zover die boven het bedrag van €10.000,- uitkomt
                        over te dragen aan de Nederlandse Thuiswinkel Organisatie, waarna deze organisatie op eigen naam
                        en kosten de betaling daarvan in rechte zal vragen ter voldoening aan de consument.</li>
                </ol>
            </div>
        </item>
        <item>
            <h2>Artikel 17 - Aanvullende of afwijkende bepalingen</h2>
            <div>
                <p>Aanvullende dan wel van deze algemene voorwaarden afwijkende bepalingen mogen niet ten nadele van de consument
                    zijn en dienen schriftelijk te worden vastgelegd dan wel op zodanige wijze dat deze door de consument
                    op een toegankelijke manier kunnen worden opgeslagen op een duurzame gegevensdrager.
                </p>
            </div>
        </item>
        <item>
            <h2>Artikel 18 - Wijziging van de algemene voorwaarden Thuiswinkel</h2>
            <div>
                <ol>
                    <li>De Nederlandse Thuiswinkel Organisatie zal deze algemene voorwaarden niet wijzigen dan in overleg met
                        de Consumentenbond.</li>
                    <li>Wijzigingen in deze voorwaarden zijn slechts van kracht nadat deze op daartoe geëigende wijze zijn gepubliceerd,
                        met dien verstande, dat bij toepasselijke wijzigingen gedurende de looptijd van een aanbod de voor
                        de consument meest gunstige bepaling zal prevaleren.
                    </li>
                </ol>
                <p>Adres Nederlandse Thuiswinkel Organisatie: Postbus 7001, 6710 CB Ede.</p>
            </div>
        </item>
    </ul>