<header>
    <div class='logo'>
        <a data-ui-sref='home'><img data-ng-src="{{nav.logo}}"/></a>
    </div>
    <nav>
        <a id='menu-icon' data-ng-click='showMenu = !showMenu'><i class="fa fa-bars fa-lg"></i> Menu</a>
        <ul data-ng-hide='!showMenu'>
            <li>
                <a data-ui-sref-active='m-active' data-ui-sref='home' data-ng-click='showMenu = !showMenu'>    
                Alle veilingen
            </a>
            </li>
            <li>
                <a data-ui-sref-active='m-active' data-ui-sref='user-lots' data-ng-click='showMenu = !showMenu'>
               Mijn kavels
            </a>
            </li>
            <li>
                <a data-ui-sref-active='m-active' data-ng-hide='nav.is.loggedin' data-ui-sref='login' data-ng-click='showMenu = !showMenu'> 
                Inloggen
            </a>
                <a data-ng-hide='!nav.is.loggedin' data-ng-click='nav.logOut();!showMenu'>  
                Uitloggen
            </a>
            </li>
            <li>
                <a data-ui-sref-active='m-active' data-ui-sref='contact' data-ng-click='showMenu = !showMenu'>
               Contact
            </a>
            </li>
        </ul>
    </nav>
    <section class='pull-right'>
        <a class='fa fa-lg fa-info-circle nav-icon padding' data-ng-show='auctionsummary.showInfoButton' data-ng-click='auctionsummary.showOverlay = !auctionsummary.showOverlay'></a>
    </section>
</header>
<search-bar></search-bar>