<div class='row tabs fullwidth text-center'>	
 <a class="col-xs textlimit" data-ui-sref-active='is-active-tab' data-ui-sref='user-lots.overbid'><h5>Overboden {{userLots.overbid.lots.length}}</h5></a>
 <a class="col-xs textlimit" data-ui-sref-active='is-active-tab' data-ui-sref='user-lots.highestbidder'><h5>Hoogste bieder {{userLots.highestbidder.lots.length}}</h5></a>
 <a class="col-xs textlimit" data-ui-sref-active='is-active-tab' data-ui-sref='user-lots.notbidded'><h5>Niet geboden {{userLots.notbidded.lots.length}}</h5></a>
 <a class="col-xs textlimit" data-ui-sref-active='is-active-tab' data-ui-sref='user-lots.closed'><h5>Gesloten {{userLots.closed.lots.length}}</h5></a>
</div>
<div data-ui-view></div>