<div class='row'>
	<a class='list-item col-xs-12 col-md-6 textlimit' data-ng-repeat="lot in userLots" data-ui-sref='lot({auctionId:lot.auctionId,lotId:lot.id})'>
		<img class='pull-left' data-ng-src='{{::lot.imageUrl}}'>
		<h3 class="list-item-title">{{::lot.name}}</h3>
		<h5 class="pull-right bva-black">€ {{::lot.latestBidAmount|number:2}}</h5>
		<h5 class="list-item-sub">{{::lot.fullNumber}}</h5>
		<div data-timer data-start-date="lot.startDate" data-end-date="lot.endDate" data-type="lots"></div>
	</a>
</div>