<!-- marketing banner -->
<div data-mobile-banner="mobileBanner.data"></div>

<!-- auctions-targeting currently not supported in production -->
<!-- <div data-auctions-targeting-directive></div> -->

<!-- tabs -->
<div class='row tabs fullwidth text-center'>
    <a data-ui-sref-active='is-active-tab' class="col-xs" data-ui-sref='auctions-current'>Nu in de veiling</a>
    <a data-ui-sref-active='is-active-tab' class="col-xs" data-ui-sref='auctions-future'>Binnenkort</a>
</div>

<!-- current and futured auctions inject in this view -->
<div data-ui-view="auctions"></div>