<!-- marketing banner -->
<div data-villain-banner data-autoplay=true></div>

<!-- tabs -->
<ul class='tabs scrollable'>
    <li><a data-ui-sref-active='is-active-tab' data-ui-sref='auctions-current'>Nu in de veiling</a></li>
    <li data-ng-if="nav.is.loggedin"><a data-ui-sref-active='is-active-tab' data-ui-sref='lot-targeting'>Speciaal voor u</a></li>
    <li><a data-ui-sref-active='is-active-tab' data-ui-sref='auctions-future'>Binnenkort</a></li>
</ul>

<!-- child states of home inject in this view -->
<div data-ui-view="home"></div>