<div class='footer'>
      <p class='footer-links'>
            <a data-ui-sref='about'>Over BVA</a> ·
            <a data-ui-sref='customerservice'>Klantenservice</a> ·
            <a data-ui-sref='terms'>Voorwaarden</a> ·
            <a data-ui-sref='cookie'>Privacy</a> ·
            <a data-ui-sref='faq'>FAQ</a>   
      </p>
      <p class='footer-social-links'>
            <a target="_blank" href='https://plus.google.com/+BVAAuctions'>
                   <i class='fa fa-google-plus-square'></i>
            </a>
            <a target="_blank" href='https://www.youtube.com/user/BVAAuctions'>
                   <i class='fa fa-youtube-square'></i>
            </a>
            <a target="_blank" href='http://www.linkedin.com/company/bva-auctions.com'>
                   <i class='fa fa-linkedin-square'></i>
            </a>
            <a target="_blank" href='https://twitter.com/BVA_Agenda'>
                  <i class='fa fa-twitter-square'></i>
            </a>
            <a target="_blank" href='https://www.facebook.com/BVAAuctions'>
                    <i class='fa fa-facebook-square'></i>
            </a>
      </p>
      <p class="footer-company-name">BVA Auctions &copy; 2016</p>
      <p class="footer-force-desktop"><a target="_blanc" href="https://bva-auctions.com/?force-web=true">Desktop versie</a></p>
</div>