<div class='footer'>
      <p class='footer-links'>
            <a data-ui-sref='about'>Over BVA</a> ·
            <a data-ui-sref='customerservice'>Klantenservice</a> ·
            <a data-ui-sref='terms'>Voorwaarden</a> ·
            <a data-ui-sref='cookie'>Privacy</a> ·
            <a data-ui-sref='faq'>FAQ</a>   
      </p>
      <p class='footer-social-links'>
            <a target="_blank" href='https://plus.google.com/+BVAAuctions'>
                  <img src='https://d3lr55dgqllpru.cloudfront.net/static/docs/social_icons/google+.png' />
            </a>
            <a target="_blank" href='https://www.youtube.com/user/BVAAuctions'>
                  <img src='https://d3lr55dgqllpru.cloudfront.net/static/docs/social_icons/you-tube.png' />
            </a>
            <a target="_blank" href='https://www.bva-auctions.com/home/rss'>
                  <img src='https://d3lr55dgqllpru.cloudfront.net/static/docs/social_icons/rss.png' />
            </a>
            <a target="_blank" href='http://www.linkedin.com/company/bva-auctions.com'>
                  <img src='https://d3lr55dgqllpru.cloudfront.net/static/docs/social_icons/linkedin.png' />
            </a>
            <a target="_blank" href='https://twitter.com/BVA_Agenda'>
                  <img src='https://d3lr55dgqllpru.cloudfront.net/static/docs/social_icons/twitter.png' />
            </a>
            <a target="_blank" href='https://www.facebook.com/BVAAuctions'>
                  <img src='https://d3lr55dgqllpru.cloudfront.net/static/docs/social_icons/facebook.png' />
            </a>
      </p>
      <p class="footer-company-name">BVA Auctions &copy; 2016</p>
      <p class="footer-force-desktop"><a target="_blanc" href="https://bva-auctions.com/?force-web=true">Desktop versie</a></p>
</div>