<!-- searchresult -->
<h4 class='text-center padding' data-ng-if="vm.result.totalHits !== undefined">{{::result.totalHits}} resultaten gevonden voor "{{::searchQuery}}"</h4>
<div class="row">
  <a data-ng-repeat="data in vm.result.data.lots" class="list-item col-md-6 col-xs-12 textlimit" data-ui-sref="lot({auctionId:data.lot.auctionId,lotId:data.lot.id})">
          <img class="pull-left" data-ng-src="{{::data.lot.imageUrl}}"/>
            <h5 class="list-item-title">{{::data.lot.name.nl}}</h5>
            <h5 class="pull-right bva-black">€ {{::data.lot.latestBidAmount|number:2}}</h5>
            <h6 class="list-item-sub">{{::data.lot.fullNumber}}</h6>
            <div data-timer data-start-date='data.lot.startDate' data-end-date='data.lot.endDate' data-type='lots'></div>
      </a>
</div>
<!-- pagination -->
<div 
    data-pagination
    class="text-center"
    data-ng-if="vm.result.data.totalHits > 25" 
    data-ng-click="vm.pageChanged(vm.page)" 
    data-page=vm.page 
    data-page-size="25" 
    data-total="vm.result.data.totalHits" 
    data-show-prev-next="true">
</div>
