<style>
.sales .auction-image {
    height: 0px;
    width: 0px;
    overflow: hidden;
  }
  .header {
    height: 0px;
    width: 0px;
    overflow: hidden;
  }
  #header {
    height: 0px;
    width: 0px;
    overflow: hidden;
  }
  .container-footer {
    display: none;
    height: 0px;
    width: 0px;
    overflow: hidden;
  }
  .column1of1,
  .column2of1,
  column3of1 {
    width: 100%;
    float: left;
    margin-bottom: 10px;
  }
  .column1of2,
  .column2of2,
  column3of2 {
    width: 100%;
    float: left;
    margin-bottom: 10px;
  }
  .column1of3,
  .column2of3,
  .column3of3 {
    width: 100%;
    float: left;
    margin-bottom: 10px;
  }
  .sales {
    float: left;
    display: block;
  }
  .sales .column1of1 {
    width: 100%;
  }
  .sales .column1of2 {
    width: 100%;
  }
  .sales .column2of2 {
    width: 100%;
  }
  #main {
    background-color: white;
  }
  .container-breadcrumb {
    height: 0px;
    width: 0px;
    overflow: hidden;
  }
  img[src*="footer"] {
    height: 0px;
    width: 0px;
    overflow: hidden;
  }
  img[src*="keurmerken"] {
    height: 0px;
    width: 0px;
    overflow: hidden;
  }
  img[src*="weekend"] {
    height: 0px;
    width: 0px;
    overflow: hidden;
  }
  .more-link,
  .text-right{
    height: 0px;
    width: 0px;
    overflow: hidden;
    display:none;
  }
</style>
<div class="padding" data-ng-repeat="data in content">
<h4><b>{{::data.pageTitle.text}}</b></h4>
<div data-ng-bind-html="::data.text.text"/>
</div>